/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

 */

 #log_in_form {
   width: 400px;
   margin: 1rem;
 }

.field {
  width: 400px;
  margin: 1rem;
}

.actions {
  width: 400px;
  margin: 1rem;
}

.background_box {
  height: 100%;
  width: 100%;
  float: left;
  padding: none;
  position: absolute;
  z-index: -1;
}

.city_box {
  width: 280px;
  color: #f0eee9;
  font-family: lombok;
  margin-left: 10px;
}

.searchBar{
  width: 500px;
  padding-left: 20px

}

.button {
  border: solid;
  color: whitesmoke;
  padding: 1em 1.5em;
}
#weather-button {
  border-style: solid;
}
body {
  height: auto;
  width: auto;
  background-color: #4a4945;
}

#index-title {
  color: #f0eee9;
  text-align: center;
  font-family: lombok;
}
.index-boxes {
  z-index: 2;
}
.current_box {
  height: 400px;
  width: 400px;
  border-radius: 8px;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  background-color: #303331;
  font-family: lombok;
  font-weight: 400;
  font-size: 20px;
  color: #f0eee9;
  text-align: left;
  padding: 1rem;
  margin: 1rem;
}

.body-boxes {
  justify-content: center;
}

.body-box {
  height: auto;
  width: auto;
  border-radius: 4px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  margin-left: 5rem;
  margin-right: 5rem;
}

.body_box {
  height: auto;
  width: auto;
  border-radius: 4px;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  border-radius: 8px;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  background-color: #303331;
  font-family: lombok;
  font-weight: 400;
  font-size: 20px;
  color: #f0eee9;
  text-align: left;
}

#weather-box-title {
  color: #f0eee9;
  font-family: lombok;
}

.nav-bar-title {
  font-family: lombok;
  color: #f0eee9;
  padding-top: 1px;
}


.top-bar {
  height: 100px;
  color: #999421;
  background-color: #303331;
}

#logs {
  background-color: #303331;
  font-weight: bold;
  padding: 1px;
}

ul {
  list-style-type: none;
}
.field {
  color: #999421;
}

.searchBar {
  padding: 1em;
  font-family: lombok;
  color: #f0eee9;
}

#new_user {
  color: #999421;
}

#log_in_form {
  color: #999421;
}

#dark_sky {
  font-size: 2px;
}

#go_outside {
   font-style: italic;
 }

 .pulse {
   padding-bottom: 40px;
   display: block;
   width: 200px;
   height: 22px;
   border-radius: 0%;
   background: #303331;
   cursor: pointer;
   box-shadow: 0 0 0 rgba(204,169,44, 0.4);
   animation: pulse 2s infinite;
 }
 .pulse:hover {
   animation: none;
 }

 @-webkit-keyframes pulse {
   0% {
     -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
   }
   70% {
       -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
   }
   100% {
       -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
   }
 }
 @keyframes pulse {
   0% {
     -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
     box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
   }
   70% {
       -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
       box-shadow: 0 0 0 10px rgba(204,169,44, 0);
   }
   100% {
       -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
       box-shadow: 0 0 0 0 rgba(204,169,44, 0);
   }
 }
