/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

 */

#support-info {
  font-size: 18px;
}

#log_in_form {
  width: 400px;
  margin: 1rem;
  font-family: sans-serif;
  color: #d6cfbf;
 }

.field {
  width: 400px;
  margin: 1rem;
  font-family: sans-serif;
    font-weight: bold;
  color: #d6cfbf;
}

label {
  width: 400px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: #d6cfbf;
}

submit {
  border-radius: 8px;
  border-style: outset;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  font-weight: bold;
  padding: 3px;
  display: inline;
}

.actions {
  width: 400px;
  margin: 1rem;
}

.background_box {
  height: auto;
  width: 100%;
  float: left;
  padding: none;
  position: fixed;
}

.city_box {
  width: auto;
  color: #f0eee9;
  font-family: sans-serif;
  margin-left: 10px;
}

.searchBar{
  width: 500px;
  padding-left: 20px;
}

.button-group {
  margin-bottom: auto;
}

body {
  height: auto;
  width: auto;
  background-color: #303331;
}

#index-title {
  color: #f0eee9;
  text-align: center;
  font-family: sans-serif;
}

.index-boxes {
  z-index: 2;
  padding-top: 100px;
}

.current_box {
  height: auto;
  width: 400px;
  border-radius: 8px;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  background-color: #303331;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #d6cfbf;
  text-align: left;
  padding: 1rem;
  margin: 1rem;
}

p {
  color: #a69a2e;
  font-size: 26px;
}

.body-boxes {
  justify-content: center;
}

.body-box {
  height: auto;
  width: auto;
  border-radius: 4px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  margin-left: 5rem;
  margin-right: 5rem;
}

.body_box {
  height: auto;
  width: auto;
  border-radius: 4px;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  border-radius: 8px;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  background-color: #303331;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #d6cfbf;
  text-align: left;
}

.nav-bar-title {
  font-family: system-ui;
  font-weight: bold;
  color: #f0eee9;
  padding-top: 1px;
  background-color: #303331;
}

.top-bar {
  height: 100px;
  width: 100%;
  color: #999421;
  background-color: #303331;
  position: fixed;
  z-index: 3;
}

a {
  color: #d6cfbf;
  background-color: #303331;
}

.top-bar-section {
  background-color: #303331;
}

.right {
  height: auto;
  width: auto;
}

#sign-in {
  border-radius: 8px;
  border-style: outset;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  font-weight: bold;
  padding: 3px;
  display: inline;
}

#sign-up {
  border-radius: 8px;
  border-style: outset;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  font-weight: bold;
  padding: 3px;
  display: inline;
}

#sign-out {
  border-radius: 8px;
  border-style: outset;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  font-weight: bold;
  padding: 3px;
  display: inline;
}

#clear-button {
  height: auto;
  width: 60px;
  color: #f8faf2;
  background-color: #303331;
  border-radius: 8px;
  border-style: outset;
  border-color: #f8faf2;
  border-width: medium;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  font-weight: bold;
  font-size: 16px;
  padding: 3px;
  display: inline;
  margin-left: 14px;
  margin-top: 10px;
}

#submit-button {
  height: 40px;
  width: 110px;
  color: #f8faf2;
  background-color: #303331;
  border-radius: 8px;
  border-style: outset;
  border-color: #f8faf2;
  border-width: medium;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  font-weight: bold;
  font-size: 16px;
  padding: 3px;
  display: inline;
  margin-top: 10px;
  margin-left: 4px;
}

.searchBar {
  width: auto;
  margin: 1rem;
  padding: 1em;
  font-family: sans-serif;
  color: #f0eee9;
  padding: 1rem;
  position: relative;
  border-radius: 8px;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  background-color: #303331;
}

#new_user {
  color: #f0eee9;
  padding-top: 20px;
}

#log_in_form {
  color: #999421;
}

#dark_sky {
  font-size: 2px;
}

#go_outside {
  font-style: italic;
}

.pulse {
  padding-bottom: 40px;
  display: block;
  width: 200px;
  height: 22px;
  border-radius: 0%;
  background: #d6cfbf;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
 0% {
   -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
 }
 70% {
     -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
 }
 100% {
     -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
 }
}
@keyframes pulse {
 0% {
   -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
   box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
 }
 70% {
     -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
     box-shadow: 0 0 0 10px rgba(204,169,44, 0);
 }
 100% {
     -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
     box-shadow: 0 0 0 0 rgba(204,169,44, 0);
 }
}
