/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

 */
.city-search {
  font-family: lombok;
  margin-left: 10px;
}

#city-search {
  width: 500px;
  color: #f0eee9;
}

.searchBar{
  width: 300px;
  padding-left: 20px;
}

.button {
  border: solid;
  color: whitesmoke;
  padding: 1em 1.5em;
}
#weather-button {
  border-style: solid;
}

body {
  height: auto;
  width: auto;
  background-color: #4a4945;
}

#index-title {
  color: #f0eee9;
  text-align: center;
  font-family: lombok;
}

.current_box {
  height: 400px;
  width: 400px;
  border-radius: 8px;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  background-color: #303331;
  font-family: lombok;
  font-weight: 400;
  font-size: 20px;
  color: #f0eee9;
  text-align: left;
  padding: 1rem;
  margin: 2rem;
}

.hourly_box {
  height: 400px;
  width: 400px;
  overflow-y: auto;
  border-radius: 8px;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  background-color: #303331;
  font-family: lombok;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  padding: 1rem;
  margin: 2rem;
}

.hourly_data {
    color: #f0eee9;
    font-family: lombok;
    font-weight: 400;
    font-size: 16px;
}

.body-boxes {
  justify-content: center;
}

.body-box {
  height: auto;
  width: auto;
  border-radius: 4px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  margin-left: 1rem;
}

.body_box {
  height: auto;
  width: auto;
  border-radius: 4px;
  margin: 3rem;
  position: relative;
}

#weather-box-title {
  color: #f0eee9;
  font-family: lombok;
}

.nav-bar-title {
  font-family: lombok;
  color: #f0eee9;
  padding-top: 1px;
}


.top-bar {
  height: 140px;
  color: #999421;
  background-color: #303331;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

#logs {
  background-color: #303331;
  font-weight: bold;
  padding: 1px;
}

ul {
  list-style-type: none;
}
.field {
  color: #999421;
}

.searchBar {
  padding: 1em;
  font-family: lombok;
  color: #f0eee9;
}

#new_user {
  color: #999421;
}

#log_in_form {
  color: #999421;
}

#dark_sky {
  font-size: 2px;
}

#go_outside {
   font-style: italic;
 }
